{% extends 'lander/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/style.css" type="text/css"/> -->
</head>
<body>
    {% block content %}
    <div class="content">
        <div class="first_line">
            <h5 class="search_result">Question: </h5>
            <a href="{% url 'ask_question' %}" class="add_ques btn btn-light" >Ask Question</a>
        </div>
        <p>Q: {{ question.question_heading }}</p> 
        <p >By {{ question.user }}</p>
        <p>{{ question.question_text}}</p>
        <br><br>
        <div>
            <div class="col-sm-3">Comments</div>
            <div >
                {% for z in comments %}
                {{z.comment_text}} - {{z.user}} - {{z.post_date}}
                <br>
                {% endfor %}
                <br>
                {% if user.is_authenticated %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit">
                </form>
                {% else %}
                Login to comment
                {% endif %}
            </div>
        </div>
        <div class="answers">
            <div class="first_line">
                <h5 class="search_result">Answers: </h5>
                <a href="{% url 'add_answer' question.question_heading %}" class="add_ques btn btn-light" >Add Answer</a>
            </div>
            {% for i in answers %}
            <p>A:</p> 
            <p>By : {{i.user}}</p>
            <p>{{ i.ans_text}}</p>
            {% endfor %}
        </div>

    </div>
    {% endblock %}
</body>
</html>
