{% extends 'lander/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/style.css" type="text/css"/> -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
</head>
<body>
    {% block content %}
    <div class="content">
        <div class="main_container mt-0"><br>
        <div class="first_line">
            <h5 class="search_result">Question: </h5>
            <a href="{% url 'ask_question' %}" class="add_ques btn btn-outline-success" >Ask another Question</a>
        </div>
        <strong>Q: {{ question.question_heading }}</strong> 
        <p >By {{ question.user }} - {{question.post_date}} </p>
        <p>{{ question.question_text}}</p>
        <p class="text-muted">Tags: {{question.tags}}</p>
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-5 px-0">
                    <a href="{% url 'upvote_question' question.id %}"><button class="btn btn-success" >{{question.upvote_count }} <br> Upvote</button></a>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2"><button class="btn btn-secondary button_width" disabled>{{ count_comments }} <br> Comments</button></div>
            <div class="col-md-2"><button class="btn btn-secondary button_width" disabled>{{ count_answers }} <br> Answers</button></div>
            <div class="col-md-2"><button class="btn btn-secondary button_width" disabled>{{ question.views }} <br> Views</button></div>
        </div>
        <br>

        {% if question.user == current_user %}
        <div class="upvote">
            <a href="{% url 'update_question' question.id  %}" class="add_ques btn btn-outline-success" >Update Question</a>
        </div>
        {% endif %}
        <br><br>
        <div>
            <div >
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Comments
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        {% for z in comments %}
                        <div class="accordion-body">
                            {{z.comment_text}} - {{z.user}} - {{z.post_date}}                       
                        </div>
                        {% endfor %}       
                      </div>
                    </div>
                </div>
    
                
                <br>
                {% if user.is_authenticated %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" name="comment_question_form">
                    <!-- <input class="form-control me-2" type="submit" placeholder="Type..." name="comment_question_form">
                    <button class="btn btn-outline-success" type="submit">Submit</button> -->
                </form>
                {% else %}
                Login to comment
                {% endif %}
            </div>
        </div>
        <div class="answers">
            <div class="first_line">
                <h5 class="search_result">Answers: </h5>
                <a href="{% url 'add_answer' question.id %}" class="add_ques btn btn-light" >Add Answer</a>
            </div>
            {% for i in answers %}

            <p>A:</p> 
            <p>By : {{i.user}}  -  {{i.post_date}}</p> 
            <p>{{ i.ans_text}} - {{i.id}}</p> 
            {% if i.user == current_user %}
            <a href="{% url 'update_answer' question.id i.id %}" class="add_ques btn btn-outline-success" >Update</a>
            {% endif %}
            <div class="upvote">
                <span class="text-success">
                    {{ i.upvote_count }} <button><a href="{% url 'upvote_answer' question.id i.id %}">Upvote</a></button>
                </span>
            </div><br>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
                          Comments
                        </button>
                      </h2>
                      <div id="collapsetwo" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        {% for t in i.answer.all %}
                        <div class="accordion-body">
                            {{t.comment_text}} - {{t.user}} - {{t.post_date}}                       
                        </div>
                        {% endfor %}       
                      </div>
                    </div>
                </div>
            <strong>Comments</strong>
            <div >
                <br>
                <div class="comment_answer">
                    <span class="text-success">
                        <button><a href="{% url 'comment_answer' question.id i.id %}">Comment</a></button>
                    </span>
                </div>
            </div>
            <hr>
            {% endfor %}
            <br>

        </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
